E:\Documents\GitHub\Games-Development-ICA-Team-3\GD Team3 Project\Saved\Autosaves
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_DefaultToWalk_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_Hit_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_Run_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_Run_InPlace_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_RunJump_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_RunJump_InPlace_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_ShootBigCanon_A_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_ShootBigCanon_A_Montage_Auto5.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_ShootBigCanon_B_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_ShootSmallCanon_A_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_ShootSmallCanon_B_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_SleepToDefault_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_Walk_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Anim_WalkInPlace_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto3.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto4.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto5.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto6.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto7.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_AnimBlueprint_Auto8.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Blendspace1_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Blendspace1_Auto4.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Character_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Character_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Character_Auto3.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Character_Auto4.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Character_Auto5.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Character_Auto6.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_PhysicsAsset_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Skeleton_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Skeleton_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/mech_Skeleton_PoseAsset_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/MechBlendspace2_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/None__Untitled_002_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Models/unnamed_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/PostProcessing/Utilities/CustomMotionTexture/Models/tire_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Textures/M_MechGreen_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Textures/M_MechGreen_Auto3.uasset
GD Team3 Project/Saved/Autosaves/Game/Mech/Textures/M_MechGreen_Auto4.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/BP_MechCharacter_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/BP_MechCharacter_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/mech_Character_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/mech_Character_Auto3.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/mech_Character_Auto6.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/mech_Character_Auto7.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/mech_Character_Auto8.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto1.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto3.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto4.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto5.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto6.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerBullet_Auto7.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerWidget_Auto7.uasset
GD Team3 Project/Saved/Autosaves/Game/Player/PlayerWidget_Auto8.uasset
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Blueprints/TwinStickGameMode_Auto2.uasset
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto1.umap
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto2.umap
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto3.umap
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto4.umap
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto5.umap
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto7.umap
GD Team3 Project/Saved/Autosaves/Game/TwinStickBP/Maps/TwinStickExampleMap_Auto8.umap
